#username--tuxdinosaur {
  color: #C72C6D;
  font-weight: 700;
}
#username--MSCasbit{
  color: lightness($color: #359de2);
  font-weight: 700;
}
#username--codigoVis{
  color: blue;
  font-weight: 700;
}
#username--iliana{
  color: purple;
  font-weight: 700;
}

  